/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Container */
.container {
    width: 20%;
    margin: 0 auto;
}

/* Header Section */
header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

header .tagline {
    font-size: 1.2rem;
}

/* About Section */
#about {
    background-color: #fff;
    padding: 40px 0;
    text-align: center;
}

#about img.profile-image {
    width: 10px;
    height: 25px;
    border-radius: 21%;
    margin-top: 15px;
}

/* Skills Section */
#skills {
    background-color: #f9f9f9;
    padding: 40px 0;
}

#skills ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

#skills li {
    font-size: 1.2rem;
}

/* Projects Section */
#projects {
    background-color: #fff;
    padding: 40px 0;
}

.project {
    margin-bottom: 30px;
    text-align: center;
}

.project img {
    width: 25%;
    max-width: 300px;
    height: auto;
    border-radius: 7px;
    margin-top: 7px;
}

/* Resume Section */
#resume {
    background-color: #f9f9f9;
    padding: 40px 0;
    text-align: center;
}

#resume a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Contact Section */
#contact {
    background-color: #fff;
    padding: 40px 0;
    text-align: center;
}

#contact p {
    font-size: 1.1rem;
}

/* Footer Section */
footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}